{# index.twig #}
{% extends "/_template/layout_white.twig" %}
{% block page %}


{% include '_template/_partial/top_menu_bk-bg.twig' %}

<div class="about">
	<div class="anchor_menu">
		<div class="anchor_menu_item" id="go_01">WHAT WE DO</div>
		<div class="anchor_menu_item" id="go_02">PARTNER</div>
		<div class="anchor_menu_item" id="go_03">AWARDS</div>
		<div class="anchor_menu_item" id="go_04">MEMBER</div>
	</div>

	<div id="about_description" class="preblock"></div>
	<div class="about_description" >
		<img src="img/hsu_logo_bk.png" alt="">

		<div class="brand_concept">

			<h5>WHAT WE DO</h5>
			<h6>品牌理念</h6>
			<div class="vertical_line"></div>

			
			<p>志在跨領域的視覺設計中，咀嚼生活裡的美與恬靜。人文風雅、農業美學並驅，以溫柔、堅定的力量展現「美」的極致。徜徉於書籍、產品、空間、展場、活動設計之間，將臻於完美的細節藏於設計，此心之所向，了然堅定。有限中尋求美的無限可能，務實而感性的存在，流動於作品與心靈的他方。</p>
		</div>
	</div>

	<div id="partners" class="preblock"></div>
	<div class="members" >
		<h5>PARTNER</h5>
		<h6>合作夥伴</h6>
		<div class="vertical_line"></div>


		<div class="partners">
			<p>合作客戶：中華民國總統府、新北市政府文化局、臺北市立第一女子中學、臺北市私立靜心國民中小學、國立台灣大學EMBA、真理大學、凱達格蘭學校、桃園市政府、中華民國農民團體幹部聯合訓練協會、臺北農產運銷股份有限公司、臺北市沃田旅店、美濃區農會、麻豆區農會、池上鄉農會、新港鄉農會、新埔鄉農會、北埔鄉農會、中埔鄉農會、田中鎮農會、旗山鎮農會、高雄區農業改良場、桃園市農會、財團法人臺北市自閉兒社會福利基金會附設愛肯樂活工場、台北市康復之友協會附設咖啡坊 Easy Coffee、臺北市立聯合醫院仁愛院區庇護工場——心靈小棧、財團法人中華民國心臟基金會、城邦媒體控股集團、張老師文化事業股份有限公司、道聲出版社、華泰文化、天下雜誌、聯合文學、九歌出版社等各出版社、兆豐金融控股公司、耀金台、極品豪點心、一籃子股份有限公司、福爾摩莎園藝集團、泛亞框藝等。</p>
		</div>

	</div>


	<div id="awards" class="preblock"></div>
	<div class="members" >
		<h5>AWARDS </h5>
		<h6>得獎紀錄</h6>
		<div class="vertical_line"></div>


		<div class="partners">

			<div class="award_years">
				<div class="year">2018</div>
				<div class="year-item">
					<p>第12屆台灣金印奬-包裝彩盒類：優異獎「亮點茶莊禮盒」</p>

				</div>
			</div>

			<div class="award_years">
				<div class="year">2017</div>
				<div class="year-item">
					<p>第11屆台灣金印奬-圖書評裝類：優異獎「台灣漁會大事年表」</p>
					<p>第11屆台灣金印奬-包裝彩盒類：優異獎「高改場禮品組」</p>
				</div>
			</div>
			<div class="award_years">
				<div class="year">2016</div>
				<div class="year-item">
					<p>第10屆台灣金印獎-包裝類彩盒第三名「野蜂逐花蜂蜜禮盒」</p>
					<p>第10屆台灣OTOP產品設計獎-池上鄉農會「池上生活米禮盒」</p>
				</div>
			</div>


			<div class="award_years">
				<div class="year">2015</div>
				<div class="year-item">
					<p>第9屆台灣金印獎-包裝紙盒類：優異獎「美濃月光山木瓜禮盒」</p>
					<p>金點設計獎-新埔鎮農會「新埔客家柚子茶禮盒」</p>
				</div>
			</div>

			<div class="award_years">
				<div class="year">2014</div>
				<div class="year-item">
					<p>第8屆台灣金印獎-包裝彩盒類： 第一名「芙爾極品尊爵禮盒」及第三名「一顆米系列」</p>
				</div>
			</div>
			<div class="award_years">
				<div class="year">2013</div>
				<div class="year-item">
					<p>金點設計獎：農訓協會「台灣農會史典藏版」</p>
					<p>金點設計獎：美濃區農會「高雄147米禮盒」</p>
				</div>
			</div>

			<div class="award_years">
				<div class="year">2012</div>
				<div class="year-item">
					<p>第6屆台灣金印獎-包裝紙盒類： 第二名美濃區農會「高雄147米禮盒」</p>
				</div>
			</div>
			<div class="award_years">
				<div class="year">2004</div>
				<div class="year-item">
					<p>第28屆金鼎獎-最佳圖書美術編輯獎-「典藏北一女百年特刊」</p>
				</div>
			</div>

		</div>

	</div>



	 <div id="members"class="preblock"></div> 
	<div class="members" >
		<h5>MEMBER</h5>
		<h6>團隊成員</h6>

		<div class="vertical_line"></div>


		<div class="chief_members">
			<!-- <div class="chief_person-left">
				<div class="chief_person-des">
					<h5>執行長</h5>
					<h6>范雅鈞</h6>
					<div class="t-line"></div>
					<p>靈活運用歷史學術專業與流暢優美文采，創意無窮、文案精準，矢志為台灣貢獻所學。</p>
					<div class="cheif_sign" style="height: 84px">
					</div>
				</div>
				<div class="chief_person-img">
					<img src="img/member_01.jpg" alt="">
				</div>

			</div> -->

			<div class="chief_person-right">
				

				<div class="chief_person-des">
					<h5>設計總監</h5>
					<h6>徐  璽</h6>
					<div class="t-line"></div>
					<p>從容悠遊於不同素材與質感之間，精緻巧思漫開形體線條之內，設計作品洋溢著豐富文人美學。</p>
					<div class="cheif_sign">
						<img src="img/sign_bk.svg" alt="">
					</div>
				</div>
				<div class="chief_person-img">
					<img src="img/boss.jpg" alt="">
				</div>
			</div>

		</div>
		<div class="our_members">
			<div class="to_flex">
				
				<div class="our_members_item">
					<img src="img/new_staff_2.jpg" alt="">
					<div class="mask">
						<p>視覺設計</p>
						<h6>張竹安</h6>
					</div>
				</div>

				<div class="our_members_item">
					<img src="img/new_staff_4.jpg" alt="">
					<div class="mask">
						<p>視覺設計</p>
						<h6>李長亭</h6>
					</div>
				</div>
				<div class="our_members_item">
					<img src="img/new_staff_5.jpg" alt="">
					<div class="mask">
						<p>行銷企劃專員</p>
						<h6>葉立薇</h6>
					</div>
				</div>
				
				<div class="our_members_item">
					<img src="img/new_staff_6.jpg" alt="">
					<div class="mask">
						<p>視覺設計</p>
						<h6>周蘭心</h6>
					</div>
				</div>
				


				<div class="our_members_item">
					<img src="img/new_staff_11.jpg" alt="">
					<div class="mask">
						<p>視覺設計</p>
						<h6>王予潔</h6>
					</div>
				</div>

				<div class="our_members_item">
					<img src="img/new_staff_12.jpg" alt="">
					<div class="mask">
						<p>視覺設計</p>
						<h6>王思穎</h6>
					</div>
				</div>

				<div class="our_members_item">
					<img src="img/new_staff_14.jpg" alt="">
					<div class="mask">
						<p>視覺設計</p>
						<h6>林曉莉</h6>
					</div>
				</div>

				<div class="our_members_item">
					<img src="img/new_staff_15.jpg" alt="">
					<div class="mask">
						<p>行銷企劃資深專員</p>
						<h6>藍悅真</h6>
					</div>
				</div>


			</div>

		</div>


	</div>


</div>









{% endblock %}x