{# index.twig #}
{% extends "/_template/layout_white.twig" %}
{% block page %}


{% include '_template/_partial/top_menu_wh-bg.twig' %}

	
<div class="contact_us_page">
	<h3>CONTACT US</h3>
	<h2>聯絡我們</h2>

	<!-- <div class="slash-y"><img src="img/y-slash-big.png" alt=""></div> -->
	<div class="contact_info_bg">
		<div class="contact_info">
			<div class="info_row">
				<p class="mr-30">Tel</p>
				<p> <span>02-27780092 / 02-27780063</span></p>
			</div>

			<div class="info_row">
				<p class="mr-30">Fax</p>
				<p>02-27780060</p>
			</div>
			<!-- <div class="info_row">
				<p class="mr-30">Mail</p>
				<p>fanhsu300@gmail.com</p>
			</div> -->
			<div class="info_row">
				<p><a href="www.hsudesign.tw">www.hsudesign.tw</a></p>
			</div>


			<div class="info_row">
				<p>106429 台北市大安區忠孝東路4段148號8樓之3</p>
			</div>

			<div class="google-map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.785464192724!2d121.54754531490894!3d25.0413536839689!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abc542637ad1%3A0xe3210bc9648c7fb5!2zMTA25Y-w5YyX5biC5aSn5a6J5Y2A5b-g5a2d5p2x6Lev5Zub5q61MTQ46Jmf!5e0!3m2!1szh-TW!2stw!4v1597436441315!5m2!1szh-TW!2stw" width="100%" height="600"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

			</div>
		</div>
	</div>

</div>



{% endblock %}x