{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


{% include '_template/_partial/top_menu_wh-bg.twig' %}


<div class="header_wrapper">

<div class="header_body">
	<div class="this_wrapper">
			<div class="slogen">
				<img src="img/slogen.png" alt="">
			</div>

			<div class="logo"><img src="img/logo.png" alt=""></div>
		</div>
	</div>
</div>

<div class="main_wrapper">

	<div class="inex_des">

		<a href="works.html?=.filter__visual" class="link_style">
			<div class="inex_des_block">
				<img src="img/index_des_01.jpg" alt="">
				<div class="index_des_mask">
					<h6>視覺設計</h6>
					<p>如果沒有視覺，只有一片黑暗。視覺設計就該呈現美，以及美所代表的一切。</p>
					<div class="bb-line"></div>
					<!-- <i class="fas fa-long-arrow-alt-right"></i> -->
				</div>
			</div>
		</a>

		<a href="works.html?=.filter__package" class="link_style">
			<div class="inex_des_block">
				<img src="img/index_des_02.jpg" alt="">
				<div class="index_des_mask">
					<h6>產品包裝</h6>
					<p>如果沒有包裝，產品無法旅行。產品包裝就該有特色，以及非買不可的理由。</p>
					<div class="bb-line"></div>
					<!-- <i class="fas fa-long-arrow-alt-right"></i> -->
				</div>
			</div>
		</a>

		<a href="works.html?=.filter__space" class="link_style">
			<div class="inex_des_block">
				<img src="img/index_des_03.jpg" alt="">
				<div class="index_des_mask">
					<h6>空間設計</h6>
					<p>如果沒有設計，空間索然無味。空間設計就該有魅力，以及流連忘返的氛圍。</p>
					<div class="bb-line"></div>
					<!-- <i class="fas fa-long-arrow-alt-right"></i> -->
				</div>
			</div>
		</a>

		<a href="works.html?=.filter__activity" class="link_style">
			<div class="inex_des_block">
				<img src="img/index_des_04.jpg" alt="">
				<div class="index_des_mask">
					<h6>活動創意</h6>
					<p>如果沒有創意，活動只是玩鬧。活動創意就該有思想，以及難以忘記的體驗。</p>
					<div class="bb-line"></div>
					<!-- <i class="fas fa-long-arrow-alt-right"></i> -->
				</div>
			</div>
		</a>

		<a href="works.html?=.filter__books" class="link_style">
			<div class="inex_des_block">
				<img src="img/index_des_05.jpg" alt="">
				<div class="index_des_mask">
					<h6>書籍裝幀</h6>
					<p>如果沒有書籍，世界多麼孤寂。書籍裝幀就該有質感，以及頌揚文字的裝扮。</p>
					<div class="bb-line"></div>
					<!-- <i class="fas fa-long-arrow-alt-right"></i> -->
				</div>
			</div>
		</a>

		<a href="about.html" class="link_style">
			<div class="inex_des_block">
				<img src="img/index_des_06.jpg" alt="">
				<div class="index_des_mask">
					<h6>關於凡止</h6>
					<p>當我們建立了品牌，我們會持續為品質努力，尋找認同品牌及品質的愛好者。</p>
					<div class="bb-line"></div>
					<!-- <i class="fas fa-long-arrow-alt-right"></i> -->
				</div>
			</div>
		</a>
	</div>

	<div class="director_info">

		<!-- director_person -->
		<div class="director_person">
			<div class="director_intro">
				<div class="header_img"><img src="img/header-01.jpg" alt=""></div>
				<div class="header_des">
					<p>執行長</p>
					<h6>范雅鈞</h6>
				</div>
			</div>

			<div class="director_des">
				靈活運用歷史學術專業與流暢優美文采，創意無窮、文案精準，矢志為台灣貢獻所學。
				<!-- <img src="img/quote.png" alt=""> -->
			</div>

			<!-- <div class="sign">
				<img src="img/sign_01.png" alt="">
			</div> -->
		</div>


		<!-- cross -->
		<!-- <div class="cross_x">
			<img src="img/cross.png" alt="">
		</div> -->


		<!-- director_person -->
		<!-- <div class="director_person">
			<div class="director_intro">
				<div class="header_img"><img src="img/header-02.jpg" alt=""></div>
				<div class="header_des">
					<p>設計總監</p>
					<h6>徐  璽</h6>
				</div>
			</div>

			<div class="director_des">
				從容悠遊於不同素材與質感之間，精緻巧思漫開形體線條之內，設計作品洋溢著豐富文人美學。
			</div>

			<div class="sign">
				<img src="img/sign_01.png" alt="">
			</div>
		</div> -->

	</div>
</div>




{% endblock %}x