{# index.twig #}
{% extends "/_template/layout_white.twig" %}
{% block page %}


{% include '_template/_partial/top_menu_wh-bg.twig' %}

	

<div class="news">
	<div class="portfolio_layout_module">

	<div class="grid-container">

		<div class="item_col-12">
			<div class="img-box">
				<img src="img/news/news_03.png">
			</div>
		</div>
		
		<div class="detail_des">
			<h5>凡止特選，溫暖首選！情人節就這麼過～</h5>
			<h5>情人節-美濃紅豆 & 帥哥番茄</h5>
			<h6>2020/03/14 Sat.</h6>

			<div class="l--l"></div>

			<p>設計各地好物・特選各地好物</p>
			<p>凡止文創 Yahoo商城，正式開張，凡止文創Yahoo商城將帶給各位更多優質商品。</p>
			<p>慶祝新店開幕，凡購買商品滿一千元即可免運，再送150元折價券！</p>
			<p>3/4-3/17期間限定，千萬別錯過囉。</p>


			<div class="gotoyy">
				<div class="row-l"></div>
				<p>購買請至 yahoo 商城</p>
				<a href="https://tw.mall.yahoo.com/store/%25E5%2587%25A1%25E6%25AD%25A2%25E6%2596%2587%25E5%2589%25B5:fanhsu" target="_blank"><img src="img/news/yahoo.png" alt=""></a>	
			</div>
		</div>


		
		<div class="others">
			<div class="ll"></div>
			<h6>推薦消息</h6>
			<div class="ll"></div>
		</div>

		<a href="news_detail_01.html" class="item_col-6">
			<div class="img-box">
				<img src="img/news/news_01.png">
				<div class="des">
					<h5>活動預告：佳冬鄉農會《透紅佳人・海風香頌》</h5>
					<h6>2020/05/08 Fri.</h6>
				</div>
			</div>
		</a>

		<a href="news_detail_04.html" class="item_col-6">
			<div class="img-box">
				<img src="img/news/news_04.png">
				<div class="des">
					<h5>凡止文創Yahoo商城新開幕</h5>
					<h6>2020/03/02 Mon.</h6>
				</div>
			</div>
		</a>
		
	</div>
	<a href="news.html" class="back_news">BACK</a>
	</div>
</div>



















{% endblock %}x