{# index.twig #}
{% extends "/_template/layout_white.twig" %}
{% block page %}


{% include '_template/_partial/top_menu_wh-bg.twig' %}

	

<div class="news">
	<div class="portfolio_layout_module">
	
	<div class="grid-container">

		<div class="item_col-12">
			<div class="img-box">
				<img src="img/news/newhome.png">
			</div>
		</div>

		<div class="newhome_text">
			<h6>徐璽設計搬新家囉</h6>
			<h6 style="font-size: 22px">創造美好新未來 優質服務更升級</h6>
			<h6 style="font-size: 20px">2020/08/10 Mon.</h6>
			<div class="l-l"></div>
			<p>徐璽設計原處在靜謐的仁愛路三段提供服務已有近10年的時間，如今，為了提供客戶更便捷、優質的服務環境，徐璽設計有限公司已於日前搬遷至車水馬龍的東區商圈，繼續為客戶提供量身打造的客製化服務，歡迎舊雨新知一同前往新址，與我們共同邁向更好的未來。</p>
			<br>

			<p>徐璽設計有限公司正式於2020年8月7日搬遷至：</p>
			<p>・ 新址：臺北市大安區忠孝東路四段148號8樓之3</p>
			<p>・ 服務電話：02-27780092</p>

			<div class="l-l"></div>

		</div>




		<a href="news_detail_02.html" class="item_col-6">
			<div class="img-box">
				<img src="img/news/news_02.png">
				<div class="des">
					<h5>非常時期・清潔大作戰</h5>
					<h6>2020/03/19 Thu.</h6>
				</div>
			</div>
		</a>


		<!-- <a href="news_detail_03.html" class="item_col-6">
			<div class="img-box">
				<img src="img/news/news_03.png">
				<div class="des">
					<h5>凡止特選，溫暖首選！情人節就這麼過～</h5>
					<h6>2020/03/14 Sat.</h6>
				</div>
			</div>
		</a> -->

		<!-- <a href="news_detail_04.html" class="item_col-6">
			<div class="img-box">
				<img src="img/news/news_04.png">
				<div class="des">
					<h5>凡止文創Yahoo商城新開幕</h5>
					<h6>2020/03/02 Mon.</h6>
				</div>
			</div>
		</a> -->

		<a href="news_detail_05.html" class="item_col-6">
			<div class="img-box">
				<img src="img/news/news_05.png">
				<div class="des">
					<h5>麻豆超市新開幕</h5>
					<h6>2020/01/18 Sat.</h6>
				</div>
			</div>
		</a>

	</div>

	</div>
</div>



















{% endblock %}x