{# index.twig #}
{% extends "/_template/layout_white.twig" %}
{% block page %}


{% include '_template/_partial/top_menu_wh-bg.twig' %}

	

<div class="news">
	<div class="portfolio_layout_module">

	<div class="grid-container">

		<div class="item_col-12">
			<div class="img-box">
				<img src="img/news/news_01.png">
			</div>
		</div>
		
		<div class="detail_des">
			<h5>活動預告：佳冬鄉農會《透紅佳人・海風香頌》</h5>
			<h5>蓮霧加工新品發表一日快閃店暨感謝醫護守護台灣公益捐贈活動</h5>
			<h6>2020/05/08 Fri.</h6>

			<div class="l--l"></div>

			<p>佳冬鄉農會多年來輔導農民精進蓮霧種植技術，近十年參與全國性優質蓮霧評鑑比賽屢獲佳績、連連奪冠。2001年創立「透紅佳人」品牌提昇產品價值，精選境內果農鮮美多汁、口感清脆、甜度11度以上的蓮霧，大受市場歡迎，年年供不應求。</p>
			<p>近年來，受到極端氣候影響，優質佳冬蓮霧外觀裂果比例竟逐年提高，幾乎高達五成。農會為了照顧農民，減少農民經濟損失，收購裂果積極開發蓮霧加工品，如蓮霧果乾、蓮霧果醬、蓮霧糖漿等，讓台灣消費者在產季以外，還能享用蓮霧美味；台灣以外的消費者，也能享用獨特風味的熱帶水果。農會守護農民，疫情期間感謝醫護守護台灣，農會特製蓮霧禮盒贈送第一線的台大醫院醫護人員，來自國境之南的小小心意，串起從南到北的台灣驕傲！</p>
			<br>
			<p>時間：快閃店2020/05/20（三）12:00-21:00</p>
			<p>新品發表2020/05/20（三）14:30-16:30</p>
			<p>地點：新光摩天大樓廣場</p>
			<p>地址：臺北市中正區忠孝西路一段66號</p>

		</div>


		
		<div class="others">
			<div class="ll"></div>
			<h6>推薦消息</h6>
			<div class="ll"></div>
		</div>

		<a href="news_detail_02.html" class="item_col-6">
			<div class="img-box">
				<img src="img/news/news_02.png">
				<div class="des">
					<h5>非常時期・清潔大作戰</h5>
					<h6>2020/03/19 Thu.</h6>
				</div>
			</div>
		</a>

		<a href="news_detail_04.html" class="item_col-6">
			<div class="img-box">
				<img src="img/news/news_04.png">
				<div class="des">
					<h5>凡止文創Yahoo商城新開幕</h5>
					<h6>2020/03/02 Mon.</h6>
				</div>
			</div>
		</a>
		
	</div>

	<a href="news.html" class="back_news">BACK</a>

	</div>
</div>



















{% endblock %}x