{# index.twig #}
{% extends "/_template/layout_white.twig" %}
{% block page %}


{% include '_template/_partial/top_menu_wh-bg.twig' %}

	

<div class="news">
	<div class="portfolio_layout_module">
	
	<div class="grid-container">

		<a href="news_detail_01.html" class="item_col-12">
			<div class="img-box">
				<img src="img/news/news_01.png">
				<div class="des">
					<h5>活動預告：佳冬鄉農會《透紅佳人・海風香頌》</h5>
					<h6>2020/05/08  Fri</h6>
				</div>
			</div>
		</a>


		<a href="news_detail_02.html" class="item_col-6">
			<div class="img-box">
				<img src="img/news/news_02.png">
				<div class="des">
					<h5>非常時期・清潔大作戰</h5>
					<h6>2020/03/19 Thu.</h6>
				</div>
			</div>
		</a>

		<!-- <a href="news_detail_03.html" class="item_col-6">
			<div class="img-box">
				<img src="img/news/news_03.png">
				<div class="des">
					<h5>凡止特選，溫暖首選！情人節就這麼過～</h5>
					<h6>2020/03/14 Sat.</h6>
				</div>
			</div>
		</a> -->

		<!-- <a href="news_detail_04.html" class="item_col-6">
			<div class="img-box">
				<img src="img/news/news_04.png">
				<div class="des">
					<h5>凡止文創Yahoo商城新開幕</h5>
					<h6>2020/03/02 Mon.</h6>
				</div>
			</div>
		</a> -->

		<a href="news_detail_05.html" class="item_col-6">
			<div class="img-box">
				<img src="img/news/news_05.png">
				<div class="des">
					<h5>麻豆超市新開幕</h5>
					<h6>2020/01/18 Sat.</h6>
				</div>
			</div>
		</a>

	</div>

	</div>
</div>



















{% endblock %}x