{# index.twig #}
{% extends "/_template/layout_white.twig" %}
{% block page %}

{% include '_template/_partial/top_menu_wh-bg.twig' %}

<script>
$(document).ready(function(){
	$.getJSON("../_data/_interiordesign.json", function(data){

		 var strUrl = location.search;
 		 if (strUrl.indexOf("?") != -1) {

		    var getSearch = strUrl.split("=");
		    var thispage = getSearch[1]
		    // console.log(thispage)
		    // link = 'data.' + thispage + '[0].photo_1'
		   	// console.log(typeof(link))
		}

		var _data = data

		// console.log(_data)
		let imgLink_1 = _data[thispage][0].photo_1
		let imgLink_2 = _data[thispage][0].photo_2
		let imgLink_3 = _data[thispage][0].photo_3
		let imgLink_4 = _data[thispage][0].photo_4

		let _title = _data[thispage][0].thistitle
		let _intro = _data[thispage][0].intro
		let _description = _data[thispage][0].description

		// console.log(_title)


		var photo_1 = document.createElement("IMG");
	     photo_1.setAttribute("src", imgLink_1);
	     $('.img-box-1').html(photo_1);


		var photo_2 = document.createElement("IMG");
	     photo_2.setAttribute("src", imgLink_2);
	     $('.img-box-2').html(photo_2);

		var photo_3 = document.createElement("IMG");
	     photo_3.setAttribute("src", imgLink_3);
	     $('.img-box-3').html(photo_3);

		var photo_4 = document.createElement("IMG");
	     photo_4.setAttribute("src", imgLink_4);
	     $('.img-box-4').html(photo_4);

	    $('.layout_a_description > h4').html(_title);
	    $('.layout_a_description > h6').html(_intro);
	    $('.des-content').html(_description);
  });


});

</script>


<div class="portfolio_layout_module">

	<div class="grid-container">
		<div class="item_col-12">
			<div class="img-box-1"></div>
		</div>
		<div class="item_col-4">
			<div class="img-box-2"></div>
			<div class="img-box-3"></div>
		</div>
		<div class="item_col-8">
			<div class="img-box-4"></div>

		</div>
		</div>

	<div class="layout_a_description_bg">
		<div class="layout_a_description">

			<h4> </h4>
			<div class="d-line"></div>
			<h6></h6>
			<div class="des-content"></div>
			<a href="works.html?=.filter__space" class="goback">BACK</a>
		</div>
	</div>
</div>















{% endblock %}x