
<!-- <div class="desktop_aside_menu"> -->
<div  {% if menu_select == 'white' %} class="desktop_aside_menu_w" {% endif %}
{% if menu_select == 'black' %} class="desktop_aside_menu" {% endif %}
>
	<div class="t-t">MENU</div>
	<div class="a-l"></div>
	<div class="b-l"></div>
	<div class="c-l"></div>
</div>
<div class="desktop_aside">
	<ul>
		<li><a href="index.html" class="m-first">回首頁 <img src="img/right-arrow.svg" alt=""></i></a></li>
		<li><a href="news.html" class="m-first">NEWS <img src="img/right-arrow.svg" alt=""></i></a></li>
		<li><a href="about.html" class="m-first">ABOUT <img src="img/right-arrow.svg" alt=""></i></a></li>
		<li><a href="works.html" class="m-first">PORTFOLIO <img src="img/right-arrow.svg" alt=""></i></a></li>
		<li><a href="contact.html" class="m-first">CONTACT <img src="img/right-arrow.svg" alt=""></i></a></li>

	<!-- 	<li><a href="https://tw.mall.yahoo.com/store/%E5%87%A1%E6%AD%A2%E6%96%87%E5%89%B5:fanhsu" class="m-first">
			<div class="yahoo"><img src="img/news/yahoo.png" alt=""></div></a>
		</li> -->

		<li><a href="https://www.facebook.com/%E5%BE%90%E7%92%BD%E8%A8%AD%E8%A8%88-104108241411258/" class="m-first">
			<div class="circle"><i class="fab fa-facebook-f"></i></div></a>
		</li>
	</ul>
</div>

<div class="bk_bg"></div>

