<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="img/favicon.ico" />

<meta name="keywords" content="">
<meta name="description" content="">
<title>FANHSU</title>


<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

<link rel="stylesheet" href="css/isotope-docs.css">
<link rel="stylesheet" href="css/module.css?v=20181129">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>


<script src="js/ui.js"></script>
<script src="js/for_isotope.js"></script>




</head>
<body class="white_mockup">



{% include '_partial/desk_aside_menu.twig' with {menu_select: "black"}%}




{% block page %}{% endblock %}



<div class="footer_wrapper">
	<footer>
		<div class="hsu_logo">
			<img src="img/hsu_logo_bk.png" alt="">
		</div>
		<div class="f-text">
			<h6>Sapporo</h6>
			<p>8F.-3, No. 148, Sec. 4, Zhongxiao E. Rd., Da’an Dist., Taipei City 106, Taiwan (R.O.C.)</p>
			<p>10672台北市大安區忠孝東路4段148號8樓之3</p>

		</div>
		<div class="f-text">
			<h6>Contact</h6>

			<p>TEL     02-27780092</p>
			<p>FAX     02-27780060</p>
			<p>統編    83488766</p>

		</div>

	</footer>
</div>






</body>
</html>